@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');

.container__favCard {
  display: flex;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.253);
  width: 90%;
  overflow: hidden;
}

.container__image {
  width: 50%;
  margin-bottom: -10px;
}

.container__image input {
  width: 100%;
}

.container__favCard button {
  background-color: #be3d08;
  border: 1px solid #acc4cc;
  border-radius: 5px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.274);
  padding: 0 10px;
  width: 60px;
  height: 40px;
}

.container__favCard h4 {
  color: #ff5613;
  font-family: Montserrat Alternates , sans-serif;
  font-size: 12px;
  padding: 0 10px;
}

.container__favCard h3 {
  color: #be3d08;
  font-family: Montserrat Alternates , sans-serif;
  font-size: 20px;
  font-weight: 600;
  padding: 0 10px;
}

.container__buttons {
  display: flex;
  gap: 10px;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 10px;
} 

.container__buttons p{
  margin: 0;
}

.container__info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.container__all-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.name {
  white-space: nowrap;
  max-width: 15ch;
}

.container__all-info p {
  margin-bottom: 0;
  margin-left: 15px;
  color: #ff5613;
}