@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');

.container__doneCard {
  display: flex;
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.253);
  width: 90vw;
  overflow: hidden;
  border-radius: 15px;
  flex-direction: row;
  margin-bottom: 0.5em;
}

.container__img img, .container__img {
  width: 35vw;
  border-radius: 15px;
  height: 100%;
}

.container__all-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  margin: 1em;
  width: 55vw;
}

.name h4, .name_alcoholic, .name_share {
  white-space: nowrap;
  max-width: 15ch;
  font-size: 10px;
  font-family: Montserrat Alternates , sans-serif;
  color: #be3d08;
  margin: 0;
}

.link__name h3 {
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  font-family: Montserrat Alternates , sans-serif;
  color: #be3d08;
}

.data h2{
  font-family: Montserrat Alternates , sans-serif;
  color: #be3d08;
  font-size: 13px;
}

.container__tag {
  display: flex;
  flex-direction: row;
  margin: 0;
  gap: 0.2em;
  padding: 0;
}

.tag {
  border: 1px solid #be3d08;
  border-radius: 25px;
  font-family: Montserrat Alternates , sans-serif;
  color: #be3d08;
  font-size: 10px;
  margin: 0;
  padding: 0.5em 1em 0.5em 1em;
}

.button_share {
  background-color: #be3d08;
  border: 1px solid #acc4cc;
  border-radius: 5px;
  box-shadow: 0 3px 3px rgb(0 0 0 / 27%);
  padding: 0 10px;
  width: 60px;
  height: 40px;
  position: relative;
  top: 0;
  right: 0;
}

.container__button_share  {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

