.container__buttons {
  background-color: #f79e07;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.274);
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-evenly;
  padding: 0 10px 15px 10px;
}

.container__buttons button {
  background-color: #BE3D08;
  border-radius: 5px;
  border: 1px solid #ACC4CC;
  border: 1px solid #ACC4CC;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.274);
  color: #ACC4CC;
  padding: 0 10px 0 10px;
  width: 90px;
}