.container__favorites {
  background-color: #f79e07;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-evenly;
  padding: 0 10px 15px;
}

.container__favorites button {
  background-color: #be3d08;
  border: 1px solid #acc4cc;
  border-radius: 5px;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.274);
  color: #acc4cc;
  padding: 0 10px;
  width: 90px;
}
