@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');

.container__ingredients {
    background-color: #f0f0f0;
    height: 100%;
}

.container__cards_all {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 15px;
  margin-bottom: 75px;
}

.container__drink {
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 5px 5px rgba(0, 0, 0, 0.253);
    margin-bottom: 5px;
    overflow: hidden;
    width: 150px;
}

.container__button {
    background-color: white;
    border: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content:space-around;
    flex-direction:row;
  }

.container__name h4 {
  color: #be3d08;
  font-family: Montserrat Alternates , sans-serif;
  font-size: 20px;
  margin-top: 5px;
  padding: 0 10px;
}