@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');

.container__card {
  background-color: white;
  border-radius: 5px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.253);
  margin-bottom: 10px;
  overflow: hidden;
  width: 150px;
}

.container__card-link {
  text-decoration: none;
}

.container__image img {
  width: 100%;
}

.container__name h4 {
  color: #be3d08;
  font-family: Montserrat Alternates , sans-serif;
  font-size: 20px;
  margin-top: 5px;
  padding: 0 10px;
}
