@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates&display=swap');


.container__search {
  align-items: center;
  animation: teste 0.1s linear;
  background-color: #f79e07;
  box-shadow: 0 8px 5px rgba(0, 0, 0, 0.171);
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 10px;
}

.container__filters {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}

.container__filters input {
  margin-right: 5px;

}

.container__search--input input::placeholder {
  color: #97707D;
  padding-inline-start: 10px;
}

.container__search--input button {
  background-color: #BE3D08;
  border-radius: 5px;
  border: 1px solid #ACC4CC;
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.274);
  color: #ACC4CC;
  height: 35px;
  margin-left: 10px;
  padding: 0 10px 0 10px;
}

.container__search--input input {
  border-radius: 5px;
  border: 1px solid #ACC4CC;
  color: #ACC4CC;
  height: 35px;
  outline: none;
}

.container__filters label {
  color: #97707D;
  font-family: 'Montserrat Alternates', sans-serif;;
}

@keyframes teste {
  from {
    height: 0;
  }
  to {
    height: 95px;
  }
}